.flex{
    display: flex;
}

.flex-colum{
    display: flex;
    flex-direction: column;
}

.gap{
    gap: 20px
}

.space{
    margin-block: 10px;
}

.hr-line{
    border: 1px solid red;
}



.font-size-sm{
    font-size: 1rem;
    font-weight: 400;
}