@import url(common.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
/* product section */
.product-section{
    max-width: 1200px;
    max-height: 700px;
    border: solid red;
    margin: 0 auto;
    display: flex;
    padding: 24px;
}

.product-contaner{
position: relative;
}
.product-carusel{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    border:  10px solid rgb(104, 103, 103) ;
}
.product-carusel img{
    width:100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
    border: solid green;
}

.product-carusel button{
   width: 100px;
   height: 40px;
   cursor: pointer;
}

.product-image img{
    margin-top: 100px;
  margin-left: 60px;
  margin-right: 100px;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
}

.product-list ul{
    margin-block: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
     

}

.product-list ul li:first-of-type {
    width: 50px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    padding: 3px;
    border-radius: 100px;
    gap: 10px;
    color: white;

}



.product-list ul li i {
    color: white;
    padding: 3px;
}
.actual-price{
    text-decoration: line-through;
    color: red;
}

.discount-price{
    font-size: 28px;
}
product-quantity{
    display: flex;
    align-items: center;
}

.product-quantity button:first-of-type{
   padding: 7px 16px;
   border: 1px solid gray;
   border-top-left-radius: 8px;
   border-bottom-left-radius:8px;
   cursor: pointer;
}

.product-quantity button:last-of-type{
    padding: 7px 16px;
    border: 1px solid gray;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
    cursor: pointer;
}
 .product-quantity span{
   padding: 6px 16px;
   border: 1px solid gray;
   background-color: #fff;
 }

 .product-btn{
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    border: solid red;
 }
 .product-btn:hover{
    background-color: red;
 }
/* product section */

 /* product description */
 .section-description{
    max-width: 1200px;
    max-height: 700px;
    border: solid red;
    margin: 24px auto;
    
   
 }

 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    
 }

 .header h2 {
    font-size: 14px;
    font-weight: 400;
 }


 .product-content {
    max-width: 1200px;
    max-height: 700px; /* Allow it to expand */
    padding: 24px;
    flex-wrap: wrap;
}
.product-des{
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}
.tab-1-content{
    display: none;
}

.tab-2-content{
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: gainsboro;
    display: none;
}

tab-3-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
 /* product description */